@font-face {
    font-family: 'fontPage';
    src: url(assets/fonts/fa-regular-400.woff2),
        url(assets/fonts/feather.ttf);
}

body{
    font-family: fontPage;
}

.notification-icon {
    width: 32px;
    height: 32px;
    background-color: #e5e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.notification-icon img {
    width: 20px;
    height: 20px;
}

.pallinoViola {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px white;

    background-color: rgb(135, 10, 237);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-5px, 2px);
}

.pallinoVerde {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px white;

    background-color: rgb(10, 191, 107);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20px, -2px);
}

.icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-nav .dropdown-menu {
    background-color: #f8f9fa;
}


#jumbo {
    background-color: #7550fe;;
    .backBtn {
        background-color: #1bcc99;
        color: white;
    }
}

.icon-container {
    background-color: #ffefda;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon {
    font-size: 1.2rem;
    color: #ff8a00;
}

.small-text {
    font-size: 0.875rem;
    font-weight: 300;
}

.ingrandisci {
    position: relative;
    transition: 0.3s;
    border-radius: 5px;
    z-index: 0;   
}

.ingrandisci:focus {
    transition: 0.5s;
    transform: scale(1.1);
    border-radius: 5px;
    z-index: 1;
    .scheda {
        transform: rotateY(180deg);
    }
}

.scheda {
    width: 100%;
    height: 453px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    background-color: white;
    border: solid 1px rgba(255, 204, 123, 0.288);
    border-radius: 5px;
}

.fronte, .retro {
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.5px;
    img {
        border-radius: 5px 5px 0px 0px;
    }
}

.fronte {
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
}


.retro {
    transform: rotateY(180deg);
    box-shadow: 6px 1px 9px 2px rgba(0, 0, 0, 0.3);
    z-index: 10;

}

.back-text {
    min-height: 11rem;
}

.salva {
    width: 16px;
    height: 25px;
    color: black;
    position: relative;
}

.empty-icon, .fill-icon {
    position: absolute;
    top: 0;
    z-index: 10;
}

.fill-icon {
    color: rgb(0 0 0 / 0%);
    transition: 0.2s;

}

.fill-icon:hover {
    transition: 0.5s;
    color: rgb(0 0 0 / 100%);
}

.carousel-item {
    padding: 1rem;
}

/* Stile per le frecce `prev` e `next` del carosello che sostituiscono quelle standard di bootstrap (per caambiargli stile) */
.carousel-sx-icona,
.carousel-dx-icona {
    background-color: white;
    color: gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.carousel-control-next, .carousel-control-prev {
    z-index: 0 !important;
}

#cardBody {
    background-color: #f5f4f8;
}

#footerCorsi {
    background-color: #f5f4f8;
}


#titleCard {
    padding-top: 90px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.turn {
    background-color: #ffefda00;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s;
    .turnIcon {
        z-index: 10;
    }
}

.scheda:hover .turn{
    background-color: #ffefda;
    color: #c28135;
}
